<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxIwFreZ06N118frHtURrwse_LyuZYpVk</string>
	<key>GCM_SENDER_ID</key>
	<string>66664930108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barcodegenie.TemperatureGenie</string>
	<key>PROJECT_ID</key>
	<string>temperaturegenie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>temperaturegenie-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66664930108:ios:0005f4dee83f2d94085c39</string>
</dict>
</plist>